<template>
  <div class="roles">
    <div class="roles__box">
      <el-collapse v-model="model.activeName" accordion>
        <el-collapse-item title="Precoro" name="1" class="precoro">
          <div class="checkbox-boxes">
            <div class="access-to">
              <div class="title">
                <span>Access To:</span>
              </div>
              <div class="labels-box">
                <div class="all-below label">
                  <span>All below</span>
                </div>
                <div class="label">
                  <span>Warehouse requests</span>
                </div>
                <div class="label">
                  <span>Purchase requests</span>
                </div>
                <div class="label">
                  <span>Request for proposals</span>
                </div>
                <div class="label">
                  <span>Purchase orders</span>
                </div>
                <div class="label">
                  <span>Receipts</span>
                </div>
                <div class="label">
                  <span>Invoices</span>
                </div>
                <div class="label">
                  <span>Expenses</span>
                </div>
              </div>
            </div>
            <div class="checkboxes">
              <div class="view-only box">
                <div class="title">
                  <span>View only</span>
                </div>
                <el-checkbox
                  :disabled="isSubmitForm && Boolean(handleCheckAllChange)"
                  v-model="model.checkAll"
                  @change="handleCheckAllChange"
                ></el-checkbox>
                <div class="select-checkbox">
                  <el-checkbox-group
                    v-model="model.checkedCities"
                    @change="handleCheckedCitiesChange"
                    :disabled="
                      isSubmitForm && Boolean(handleCheckedCitiesChange)
                    "
                  >
                    <el-checkbox
                      v-for="city in cities"
                      :label="city"
                      :key="city"
                    >
                      {{ city }}
                    </el-checkbox>
                  </el-checkbox-group>
                </div>
              </div>
              <div class="create box">
                <div class="title">
                  <span>Create</span>
                </div>
                <el-checkbox
                  :disabled="
                    isSubmitForm && Boolean(handleCheckAllCreateChange)
                  "
                  v-model="model.checkAllCreate"
                  @change="handleCheckAllCreateChange"
                ></el-checkbox>
                <div class="select-checkbox">
                  <el-checkbox-group
                    v-model="model.createChecked"
                    @change="handleCheckedCreateChange"
                    :disabled="isSubmitForm && Boolean(handleCheckedCreateChange)"
                  >
                    <el-checkbox
                      v-for="create in created"
                      :label="create"
                      :key="create"
                    >
                      {{ create }}
                    </el-checkbox>
                  </el-checkbox-group>
                </div>
              </div>
              <div class="approve box">
                <div class="title">
                  <span>Approve</span>
                </div>
                <el-checkbox
                  :disabled="
                    isSubmitForm && Boolean(handleCheckAllApproveChange)
                  "
                  v-model="model.checkApprove"
                  @change="handleCheckAllApproveChange"
                ></el-checkbox>
                <div class="select-checkbox">
                  <el-checkbox-group
                    v-model="model.approveChecked"
                    @change="handleCheckedApproveChange"
                    :disabled="isSubmitForm && Boolean(handleCheckedApproveChange)"
                  >
                    <el-checkbox
                      v-for="approve in approved"
                      :label="approve"
                      :key="approve"
                    >
                      {{ approve }}
                    </el-checkbox>
                  </el-checkbox-group>
                </div>
              </div>
              <div class="pay box">
                <div class="title">
                  <span>Pay</span>
                </div>
                <el-checkbox
                  :disabled="isSubmitForm && Boolean(handleCheckAllPayChange)"
                  v-model="model.checkPay"
                  @change="handleCheckAllPayChange"
                ></el-checkbox>
                <div class="select-checkbox">
                  <el-checkbox-group
                    v-model="model.payChecked"
                    @change="handleCheckedPayChange"
                    :disabled="isSubmitForm && Boolean(handleCheckedPayChange)"
                  >
                    <el-checkbox v-for="pay in payed" :label="pay" :key="pay">
                      {{ pay }}
                    </el-checkbox>
                  </el-checkbox-group>
                </div>
              </div>
            </div>
            <div class="management-box">
              <div class="title">
                <span>Management: </span>
                <img src="./images/info.png" alt="info" />
              </div>
              <el-checkbox
              :disabled="isSubmitForm && Boolean(handleCheckAllManagementChange)"
                v-model="model.checkManagement"
                @change="handleCheckAllManagementChange"
                >All below</el-checkbox
              >
              <div class="select-checkbox">
                <el-checkbox-group
                  v-model="model.managementChecked"
                  @change="handleCheckedManagementChange"
                  :disabled="isSubmitForm && Boolean(handleCheckedManagementChange)"
                >
                  <el-checkbox v-for="m in managementArr" :label="m" :key="m">
                    {{ m }}
                  </el-checkbox>
                </el-checkbox-group>
                <div class="admin-full-access">
                  <el-checkbox v-model="model.checked" 
                  :disabled="isSubmitForm && Boolean(handleCheckAllManagementChange)"
                    >Admin (Full Access)</el-checkbox
                  >
                  <img src="./images/warning.png" alt="warning" />
                </div>
              </div>
            </div>
          </div>
          <div class="information-box">
            <img src="./images/info.png" alt="info" />
            <span
              >The user becomes a <a href="#">Power user</a> if at least ONE of
              the following roles is selected: Approve, View only,
              Configuration, Suppliers and Items, Budgets, Warehouse
              manager.</span
            >
          </div>
        </el-collapse-item>
        <el-collapse-item
          title="Precoro Development"
          name="2"
          class="development"
        >
          <div>
            Operation feedback: enable the users to clearly perceive their
            operations by style updates and interactive effects;
          </div>
          <div>
            Visual feedback: reflect current state by updating or rearranging
            elements of the page.
          </div>
        </el-collapse-item>
        <el-collapse-item title="Procurement" name="3" class="procurement">
          <div>
            Simplify the process: keep operating process simple and intuitive;
          </div>
          <div>
            Definite and clear: enunciate your intentions clearly so that the
            users can quickly understand and make decisions;
          </div>
          <div>
            Easy to identify: the interface should be straightforward, which
            helps the users to identify and frees them from memorizing and
            recalling.
          </div>
        </el-collapse-item>
      </el-collapse>
    </div>
  </div>
</template>

<script>
const cityOptions = [
  "Warehouse requests",
  "Purchase requests",
  "Request for proposals",
  "Purchase orders",
  "Receipts",
  "Invoices",
  "Expenses",
];

const createOptions = [
  "Warehouse requests",
  "Purchase requests",
  "Request for proposals",
  "Purchase orders",
  "Receipts",
  "Invoices",
  "Expenses",
];

const approveOptions = [
  "Warehouse requests",
  "Purchase requests",
  "Request for proposals",
  "Purchase orders",
  "Receipts",
  "Invoices",
  "Expenses",
];

const payOptions = [
  "Warehouse requests",
  "Purchase requests",
  "Request for proposals",
  "Purchase orders",
  "Receipts",
  "Invoices",
  "Expenses",
];

const managementOptions = [
  "Configuration",
  "Suppliers and items",
  "Budgets",
  "Warehouse manager",
  "Reports",
];

export default {
  data() {
    return {
      cities: cityOptions,
      created: createOptions,
      approved: approveOptions,
      payed: payOptions,
      managementArr: managementOptions,
    };
  },
  props: {
    value: {
      type: Object,
      default: () => ({}),
    },
    isSubmitForm: Boolean,
  },
  computed: {
    model: {
      get() {
        return this.value;
      },
      set(value) {
        this.$emit("input", value);
      },
    },
  },
  methods: {
    handleCheckAllChange(val) {
      this.model.checkedCities = val ? cityOptions : [];
      this.isIndeterminate = false;
    },
    handleCheckedCitiesChange(value) {
      let checkedCount = value.length;
      this.model.checkAll = checkedCount === this.cities.length;
      this.isIndeterminate =
        checkedCount > 0 && checkedCount < this.cities.length;

      return (value = this.model.checkedCities);
    },

    handleCheckAllCreateChange(val) {
      this.model.createChecked = val ? createOptions : [];
      this.isIndeterminate = false;
    },

    handleCheckedCreateChange(value) {
      let checkedCount = value.length;
      this.model.checkAllCreate = checkedCount === this.created.length;
      this.isIndeterminate =
        checkedCount > 0 && checkedCount < this.created.length;

      return (value = this.model.createChecked);
    },

    handleCheckAllApproveChange(val) {
      this.model.approveChecked = val ? approveOptions : [];
      this.isIndeterminate = false;
    },

    handleCheckedApproveChange(value) {
      let checkedCount = value.length;
      this.model.checkApprove = checkedCount === this.approved.length;
      this.isIndeterminate =
        checkedCount > 0 && checkedCount < this.approved.length;

      return (value = this.model.approveChecked);
    },

    handleCheckAllPayChange(val) {
      this.model.payChecked = val ? payOptions : [];
      this.isIndeterminate = false;
    },

    handleCheckedPayChange(value) {
      let checkedCount = value.length;
      this.checkPay = checkedCount === this.payed.length;
      this.isIndeterminate =
        checkedCount > 0 && checkedCount < this.payed.length;

      return (value = this.model.checkPay);
    },

    handleCheckAllManagementChange(val) {
      this.model.managementChecked = val ? managementOptions : [];
      this.isIndeterminate = false;
    },

    handleCheckedManagementChange(value) {
      let checkedCount = value.length;
      this.model.checkManagement = checkedCount === this.managementArr.length;
      this.isIndeterminate =
        checkedCount > 0 && checkedCount < this.managementArr.length;

      return (value = this.model.managementChecked);
    },
  },
};
</script>

<style lang="scss">
@import "./style.scss";
</style>