.roles {
  .roles__box {
    .el-collapse {
      .el-collapse-item {
        .el-collapse-item__header {
          font-size: 18px;
          color: #1d2452;
        }

        .checkbox-boxes {
          display: flex;
          .access-to {
            .title {
              span {
                font-size: 16px;
                font-weight: 600;
                color: #676f8f;
              }
            }
          }

          .labels-box {
            display: flex;
            flex-direction: column;
            gap: 15px;
            margin-top: 20px;
            .all-below {
              span {
                font-weight: 600 !important;
              }
            }
            .label {
              span {
                font-size: 16px;
                font-weight: 500;
                color: #1d2452;
              }
            }
          }

          .checkboxes {
            display: flex;
            justify-content: space-around;
            gap: 15px;
            flex: 1;
            border-right: 2px solid #dddee5;
            .pay {
              margin-right: 35px;

              .select-checkbox {
                .el-checkbox-group {
                  .el-checkbox {
                    &:nth-child(1) {
                      opacity: 0;
                    }

                    &:nth-child(2) {
                      opacity: 0;
                    }

                    &:nth-child(3) {
                      opacity: 0;
                    }

                    &:nth-child(4) {
                      opacity: 0;
                    }

                    &:nth-child(5) {
                      opacity: 0;
                    }
                  }
                }
              }
            }
            .box {
              display: flex;
              flex-direction: column;
              align-items: center;
              .title {
                margin-bottom: 20px;
                span {
                  font-size: 16px;
                  font-weight: 600;
                  color: #676f8f;
                }
              }

              .el-checkbox {
                &.is-checked {
                  .el-checkbox__inner {
                    background-color: #415ada;
                    border-color: #415ada;
                  }
                }

                .el-checkbox__inner {
                  border-radius: 4px;
                }
              }

              .select-checkbox {
                margin-top: 22px;
                .el-checkbox-group {
                  display: flex;
                  flex-direction: column;
                  gap: 18px;
                  .el-checkbox {
                    margin-right: 0;
                    .el-checkbox__label {
                      display: none;
                    }
                  }
                }
              }
            }
          }

          .management-box {
            flex: 1;
            margin-left: 35px;
            .title {
              display: flex;
              align-items: center;
              margin-bottom: 20px;
              span {
                font-size: 16px;
                font-weight: 600;
                color: #676f8f;
              }

              img {
                margin-left: 6px;
                width: 20px;
                height: 20px;
              }
            }

            .el-checkbox {
              &.is-checked {
                .el-checkbox__inner {
                  background-color: #415ada;
                  border-color: #415ada;
                }
              }
              .el-checkbox__label {
                font-weight: 600;
                font-size: 16px;
                color: #1d2452;
              }

              .el-checkbox__inner {
                border-radius: 4px;
              }
            }

            .select-checkbox {
              margin-top: 22px;
              .el-checkbox-group {
                display: flex;
                flex-direction: column;
                gap: 18px;
                .el-checkbox {
                  margin-right: 0;
                  .el-checkbox__label {
                    font-weight: 500;
                    font-size: 16px;
                    color: #1d2452;
                  }

                  &.is-checked {
                    .el-checkbox__inner {
                      background-color: #415ada;
                      border-color: #415ada;
                    }
                  }
                }
              }

              .admin-full-access {
                display: flex;
                align-items: center;
                margin-top: 62px;
                .el-checkbox {
                  .el-checkbox__label {
                    font-weight: 500;
                  }
                }

                img {
                  width: 20px;
                  margin-left: 17px;
                }
              }
            }
          }
        }

        .information-box {
          display: flex;
          align-items: center;
          width: 625px;
          background: rgba(244, 244, 255, 0.5);
          border-radius: 8px;
          padding: 14px 10px;
          margin-top: 35px;
          img {
            width: 20px;
            height: 20px;
            margin-right: 10px;
          }

          span {
            font-weight: 500;
            font-size: 14px;
            color: rgba(29, 36, 82, 0.5);
            line-height: 18px;

            a {
              color: #415ADA;
            }
          }
        }
      }
      &:nth-child(1) {
        border-top: none
      }
    }
  }
}
