<template>
  <div class="available-documents-custom-fields">
    <div class="available-documents-custom-fields__box">
      <el-collapse v-model="model.activeName" accordion>
        <el-collapse-item title="Precoro" name="1" class="precoro">
          <el-checkbox
            :disabled="isSubmitForm && Boolean(handleCheckSelect)"
            v-model="model.select"
            @change="handleCheckSelect"
          >
            Select All Document Custom Fields
          </el-checkbox>
          <div class="subtitle">
            <span>Available Document Custom Fields</span>
          </div>
          <div class="main-tree-box">
            <div class="tree-box">
              <div class="classes box">
                <div class="title">
                  <span>Classes</span>
                </div>
                <div class="select-options">
                  <el-checkbox
                    :disabled="isSubmitForm && Boolean(handleCheckAllChange)"
                    v-model="model.checkAllClasses"
                    @change="handleCheckAllChange"
                    >Select All</el-checkbox
                  >
                  <el-tree
                    :class="{ disable: isSubmitForm }"
                    :data="model.data"
                    @check="handleCheckChange"
                    show-checkbox
                    :props="model.defaultProps"
                    node-key="id"
                    :default-expanded-keys="[2, 3]"
                  >
                  </el-tree>
                </div>
              </div>
              <div class="departments box">
                <div class="title">
                  <span>Departments</span>
                </div>
                <div class="select-options">
                  <el-checkbox
                    :disabled="isSubmitForm && Boolean(handleCheckAllChange)"
                    v-model="model.checkAllDepartments"
                    @change="handleCheckAllChange"
                    >Select All</el-checkbox
                  >
                  <el-tree
                    :class="{ disable: isSubmitForm }"
                    :data="model.development"
                    show-checkbox
                    node-key="id"
                    :default-expanded-keys="[1, 3]"
                    :props="defaultProps"
                  >
                  </el-tree>
                </div>
              </div>
              <div class="dcf box">
                <div class="title">
                  <span>DCF 3</span>
                </div>
                <div class="select-options">
                  <el-checkbox
                    :disabled="isSubmitForm && Boolean(handleCheckAllChange)"
                    v-model="model.checkAllDCF"
                    @change="handleCheckAllChange"
                    >Select All</el-checkbox
                  >
                  <el-tree
                    :class="{ disable: isSubmitForm }"
                    :data="model.dcf"
                    show-checkbox
                    node-key="id"
                    :default-expanded-keys="[2, 3]"
                    :props="defaultProps"
                  >
                  </el-tree>
                </div>
              </div>
            </div>
          </div>
        </el-collapse-item>
        <el-collapse-item
          title="Procoro Development"
          name="2"
          class="development"
        >
          <div>
            Operation feedback: enable the users to clearly perceive their
            operations by style updates and interactive effects;
          </div>
          <div>
            Visual feedback: reflect current state by updating or rearranging
            elements of the page.
          </div>
        </el-collapse-item>
        <el-collapse-item title="Procurement" name="3" class="procurement">
          <div>
            Simplify the process: keep operating process simple and intuitive;
          </div>
          <div>
            Definite and clear: enunciate your intentions clearly so that the
            users can quickly understand and make decisions;
          </div>
          <div>
            Easy to identify: the interface should be straightforward, which
            helps the users to identify and frees them from memorizing and
            recalling.
          </div>
        </el-collapse-item>
      </el-collapse>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      defaultProps: {
        children: "children",
        label: "label",
      },

      checked: false,
    };
  },

  props: {
    value: {
      type: Object,
      default: () => ({}),
    },
    isSubmitForm: Boolean,
  },
  computed: {
    model: {
      get() {
        return this.value;
      },
      set(value) {
        this.$emit("input", value);
      },
    },

    log() {
      return console.log("model: ", this.model.data);
    },
  },

  methods: {
    handleCheckAllChange(val) {
      this.model.checkedDevelopment = val ? this.model.data : [];
    },

    handleCheckChange(checkedNode, treeCheckedStatus) {
      let checkedKeys = [
        treeCheckedStatus.checkedKeys,
        ...treeCheckedStatus.halfCheckedKeys,
      ];
      this.updateValue(...checkedKeys);
    },

    handleCheckSelect(val) {
      this.model.select = val ? this.model.data : [];
    }
  },
};
</script>

<style lang="scss">
@import "./style.scss";
</style>