.available-documents-custom-fields {
  .available-documents-custom-fields__box {
    .el-collapse {
      .el-collapse-item {
        .el-collapse-item__header {
          font-size: 18px;
          color: #1d2452;
        }

        .el-checkbox {
          .el-checkbox__label {
            font-size: 16px;
            font-weight: 600;
            color: #1d2452;
          }

          .el-checkbox__inner {
            border-radius: 4px;
          }

          &.is-checked {
            .el-checkbox__inner {
              background-color: #415ada;
              border-color: #415ada;
            }
          }
        }

        .subtitle {
          margin-top: 20px;
          margin-bottom: 8px;
          span {
            font-size: 16px;
            font-weight: 500;
            color: #1d2452;
            opacity: 0.6;
          }
        }

        .main-tree-box {
          .tree-box {
            display: flex;
            .box {
              flex: 1;
              .title {
                margin-bottom: 15px;
                span {
                  font-size: 16px;
                  font-weight: 600;
                  color: #1d2452;
                  line-height: 26px;
                }
              }

              .el-checkbox {
                .el-checkbox__label {
                  font-size: 16px;
                  font-weight: 600;
                  color: #1d2452;
                }
              }

              .el-tree {
                margin-top: 20px;

                .el-tree-node__content {
                  padding-left: 0;
                  .el-tree-node__label {
                    font-size: 14px;
                    font-weight: 500;
                    color: #1d2452;
                  }
                  .expanded {
                    
                  }
                }

                .el-tree-node__children {
                }
              }

              .select-options {
                .disable {
                  pointer-events: none;
                  opacity: 0.5;
                }
              }
            }
          }
        }
      }

      &:nth-child(1) {
        border-top: none;
      }
    }
  }
}
