<template>
  <div class="steps-component-container">
    <div class="main-container">
      <el-card class="invite-user-box box-card">
        <div class="invite-user__title">
          <span>Invite User</span>
        </div>

        <div class="invite-user__tabs">
          <ul>
            <li>
              <a
                :class="{
                  active: current_step == 1,
                  success: current_step > 1,
                }"
                href="#"
                @click.prevent="goToStep(1)"
              >
                <div class="count">
                  <span class="number">1</span>
                </div>
                <span class="title">Main Info</span>
              </a>
            </li>
            <li>
              <a
                class="disable"
                :class="{
                  active: current_step == 2,
                  success: current_step > 2,
                }"
                href="#"
                @click.prevent="goToStep(2)"
              >
                <div class="count">
                  <span class="number">2</span>
                </div>
                <span class="title">Available Locations</span>
              </a>
            </li>
            <li>
              <a
                class="disable"
                :class="{
                  active: current_step == 3,
                  success: current_step > 3,
                }"
                href="#"
                @click.prevent="goToStep(3)"
              >
                <div class="count">
                  <span class="number">3</span>
                </div>
                <span class="title">Available Documents Custom Fiels</span>
              </a>
            </li>
            <li>
              <a
                class="disable"
                :class="{ active: current_step == 4 }"
                href="#"
                @click.prevent="goToStep(4)"
              >
                <div class="count">
                  <span class="number">4</span>
                </div>
                <span class="title">Roles</span>
              </a>
            </li>
          </ul>
        </div>

        <div class="tab-content">
          <div class="tab__main-info" v-show="current_step == 1">
            <MainInfo v-model="mainInfo" :isSubmitForm="isSubmitForm" />
          </div>

          <div class="tab__available-locations" v-show="current_step == 2">
            <AvailableLocations
              v-model="availableLocation"
              :isSubmitForm="isSubmitForm"
            />
          </div>

          <div class="tab__cnf" v-show="current_step == 3">
            <AvailableDocumentsCustomFields
              v-model="availableDocumentsCustomFields"
              :isSubmitForm="isSubmitForm"
            />
          </div>

          <div class="tab__roles" v-show="current_step == 4">
            <Roles v-model="roles" :isSubmitForm="isSubmitForm" />
          </div>
        </div>

        <footer class="footer">
          <div class="switch-box" v-if="current_step === 1">
            <div class="switch">
              <el-switch v-model="switch_value"></el-switch>
              <span class="text">Active in all companies</span>
              <img src="./images/info.png" alt="info" />
            </div>
          </div>
          <div class="switch-box" v-else></div>
          <div class="next-step-btn">
            <button @click="advanceStep" class="primary-btn">
              <button v-if="max_step === 4" @click="inviteUser">
                Invite User
              </button>
              <button v-else>Next Step</button>
            </button>
          </div>
        </footer>
        <div class="close-card">
          <img src="./images/close.png" alt="close" />
        </div>
      </el-card>
    </div>
  </div>
</template>

<script>
import MainInfo from "../main-info";
import AvailableLocations from "../available-locations";
import AvailableDocumentsCustomFields from "../available-documents-custom-fields";
import Roles from "../roles";
export default {
  data() {
    return {
      totalSteps: 4,
      activeClass: "active",
      disableClass: "disable",
      successClass: "success",
      isSubmitForm: false,
      mainInfo: {
        first_name: "",
        last_name: "",
        email: "",
        phone: "",
        position: "",
        companies: "",
        value2: [],
        options: [
          {
            value: "Option1",
            label: "Precoro",
          },
          {
            value: "Option2",
            label: "Precoro Development",
          },
          {
            value: "Option3",
            label: "Available locations",
          },
          {
            value: "Option4",
            label: "Roles",
          },
        ],
      },

      availableLocation: {
        select: "",
        checkedCities: [],
        checkAllLocation: false,
        activeName: "1",
        options: [
          {
            value: "Option1",
            label: "Main Precoro US",
          },
          {
            value: "Option2",
            label: "Main Precoro UA",
          },
          {
            value: "Option3",
            label: "Main Precoro GB",
          },
          {
            value: "Option4",
            label: "Main Precoro EU",
          },
        ],
      },

      availableDocumentsCustomFields: {
        activeName: "1",
        checkAllClasses: false,
        checkAllDepartments: false,
        checkAllDCF: false,
        select: true,
        checkedDevelopment: [],
        data: [
          {
            id: 2,
            label: "Class 1",
            children: [
              {
                id: 6,
                label: "Class 1-1",
                disabled: this.isSubmitForm,
              },
            ],
          },
          {
            id: 3,
            label: "Class 2",
            children: [
              {
                id: 5,
                label: "Class 2-1",
              },
              {
                id: 7,
                label: "Class 2-2",
              },
            ],
          },
          {
            id: 4,
            label: "Class 3",
          },
          {
            id: 5,
            label: "Class 4",
          },
        ],

        development: [
          {
            id: 1,
            label: "Developers",
            children: [
              {
                id: 4,
                label: "2nd Sub-Developers",
                children: [
                  {
                    id: 7,
                    label: "3nd Sub-Developers",
                    children: [
                      {
                        id: 12,
                        label: "iOS & Android Devs",
                      },
                      {
                        id: 13,
                        label: "4th Sub-Developers",
                      },
                    ],
                  },
                ],
              },
            ],
          },
          {
            id: 2,
            label: "Class 3",
          },
          {
            id: 3,
            label: "Class 4",
          },
        ],

        dcf: [
          {
            id: 2,
            label: "Class 1",
            children: [
              {
                id: 6,
                label: "Class 1-1",
              },
            ],
          },
          {
            id: 3,
            label: "Class 2",
            children: [
              {
                id: 5,
                label: "Class 2-1",
              },
              {
                id: 7,
                label: "Class 2-2",
              },
            ],
          },
          {
            id: 4,
            label: "Class 3",
          },
          {
            id: 5,
            label: "Class 4",
          },
        ],

        defaultProps: {
          children: "children",
          label: "label",
          disabled: "disabled",
        },
      },

      roles: {
        activeName: "1",
        checkAll: false,
        checkedCities: [],
        createChecked: [],
        approveChecked: [],
        payChecked: [],
        managementChecked: [],
        isIndeterminate: false,
        checkAllCreate: false,
        checkApprove: false,
        checkPay: false,
        checkManagement: false,
        checked: false,
      },
      activeName: "first",
      input: "",
      input_1: "",
      current_step: 1,
      max_step: 1,
      switch_value: true,
    };
  },
  methods: {
    handleClick(tab, event) {
      console.log(tab, event);
    },

    advanceStep() {
      if (this.max_step === 4) {
        this.inviteUser();
      }

      this.current_step++;

      if (this.max_step < this.current_step) {
        this.max_step = this.current_step;
      }
    },

    goToStep(value) {
      this.current_step = value;
    },

    inviteUser() {
      this.isSubmitForm = true;
      this.goToStep(0);
    },
  },

  components: {
    MainInfo,
    AvailableLocations,
    AvailableDocumentsCustomFields,
    Roles,
  },
};
</script>

<style lang="scss">
@import "./style.scss";
</style>