@import "@/assets/__variable.scss";

.steps-component-container {
  display: flex;
  justify-content: center;
  padding: 34px 0 50px 0;
  .main-container {
    .invite-user-box {
      position: relative;
      width: 890px;
      border-radius: 16px;

      .el-card__body {
        padding: 24px 0 0 0;

        .invite-user__title {
          padding: 0 24px;
          span {
            font-size: 24px;
            font-weight: 600;
            line-height: 32px;
            color: $titleColor;
          }
        }

        .invite-user__tabs {
          padding: 14px 0;
          border-bottom: 1px solid #eee;

          ul {
            display: flex;
            justify-content: space-between;
            padding: 0 24px;
            li {
              display: flex;
              align-items: center;
              list-style: none;
              a {
                position: relative;
                display: flex;
                align-items: center;
                text-decoration: none;
                .count {
                  margin-right: 8px;
                  width: 30px;
                  height: 30px;
                  background-color: #5e6a751a;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  border-radius: 100%;
                  .number {
                    color: #5e6a75;
                  }
                }
                .title {
                  font-weight: 500;
                  font-size: 16px;
                  color: #1d2452;
                  opacity: 0.5;
                }

                &.active {
                  &::before {
                    content: "";
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    top: 15px;
                    left: 5px;
                    bottom: 0;
                    box-shadow: inset 0 -2px 0 #415ada;
                  }
                  .count {
                    background: rgba(65, 90, 218, 0.05);
                    .number {
                      color: #415ada;
                    }
                  }
                  .title {
                    color: #415ada;
                    opacity: 1;
                  }
                }

                &:hover {
                  .count {
                    background: rgba(65, 90, 218, 0.05);
                    .number {
                      color: #415ada;
                    }
                  }

                  .title {  
                    color: #415ada;
                    opacity: 1;
                  }
                  &::before {
                    content: "";
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    top: 15px;
                    left: 5px;
                    bottom: 0;
                    box-shadow: inset 0 -2px 0 #415ada;
                  }
                }

                &.success {
                  .count {
                    background-color: #415ada;
                    span {
                     display: none; 
                    }
                    img {
                      width: 8px;
                    }

                    &::after {
                      content: url('./images/success.png');
                      transform: scale(0.5);
                    }
                  }
                }
              }
            }
          }

          .el-tabs {
            .el-tabs__header {
              .el-tabs__item {
                padding: 0 24px;
                font-size: 16px;
                opacity: 0.5;

                &.is-active {
                  color: #415ada;
                  opacity: 1;

                  .number {
                    background-color: #f5f7fd;
                    span {
                      color: #415ada;
                    }
                  }
                }

                &:hover {
                  color: #415ada;
                }

                .number {
                  background: #f7f8f8;
                  border: 1px solid #f7f8f8;
                  border-radius: 100%;
                  margin-right: 5px;
                  span {
                    font-size: 14px;
                    font-weight: 600;
                    color: #5e6a75;
                    padding: 7px;
                  }
                }
              }

              .el-tabs__active-bar {
                background-color: #415ada;
              }
            }

            .el-tabs__content {
              padding: 0 24px;
            }
          }
        }

        .tab-content {
          margin-top: 20px;
          padding: 0 24px;
        }
      }

      .footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-top: 1px solid #e8e8e8;
        padding: 15px 24px;
        .switch-box {
          .switch {
            display: flex;
            align-items: center;
            .el-switch {
              .el-switch__core {
                width: 44px !important;
                height: 24px;
                border-radius: 12px;

                &::after {
                  width: 20px;
                  height: 20px;
                }
              }
              &.is-checked {
                .el-switch__core {
                  background-color: #415ada;
                  border-color: #415ada;

                  &::after {
                    left: 90%;
                  }
                }
              }
            }
            .text {
              padding: 0 10px;
              font-weight: 500;
              font-size: 16px;
              color: #1d2452;
            }

            img {
              width: 20px;
              height: 20px;
            }
          }
        }
        .next-step-btn {
          .primary-btn {
            background-color: transparent;
            border: none;
            button {
              cursor: pointer;
              background-color: #1d2452;
              border-radius: 20px;
              padding: 10px 16px;
              border: none;
              color: #fff;
              font-size: 16px;
              font-weight: 600;
              line-height: 19px;
            }
          }
        }
      }

      .close-card {
        position: absolute;
        top: 10px;
        right: 10px;
        img {
          cursor: pointer;
          width: 26px;
        }
      }
    }

    &.close {
      display: none;
    }
  }
}
