<template>
  <div class="main-info">
    <div class="main-info__box">
      <div class="box__first-block user-information">
        <div class="user-information__first-name">
          <label for="first-name">First Name</label>
          <el-input :disabled="isSubmitForm && model.first_name" v-model="model.first_name"></el-input>
        </div>
        <div class="user-information__last-name">
          <label for="first-name">Last Name</label>
          <el-input :disabled="isSubmitForm && model.last_name"  v-model="model.last_name"></el-input>
        </div>
      </div>
      <div class="box__second-block user-information">
        <div class="user-information__email">
          <label for="email">Email</label>
          <el-input :disabled="isSubmitForm && model.email"  v-model="model.email"></el-input>
        </div>
        <div class="user-information__phone-number">
          <label for="email">Phone number</label>
          <el-input :disabled="isSubmitForm && model.phone" v-model="model.phone"></el-input>
        </div>
      </div>
      <div class="box__third-block user-information">
        <div class="user-information__position">
          <label for="email">Position</label>
          <el-input :disabled="isSubmitForm && model.position"  v-model="model.position"></el-input>
        </div>
        <div class="user-information__multi-select">
          <label for="email">Available Companies</label>
          <el-select
            :disabled="isSubmitForm && model.value2"
            v-model="model.value2"
            multiple
            collapse-tags
            placeholder=""
          >
            <el-option
              v-for="item in model.options"
              :key="item.value"
              :label="item.label"
              :value="item.value"
            >
            </el-option>
          </el-select>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    value: {
      type: Object,
      default: () => ({})
    },
    isSubmitForm: Boolean
  },
  computed: {
    model: {
      get() {
        return this.value
      },
      set(value) {
        this.$emit('input', value)
      }
    }
  }
};
</script>

<style lang="scss">
@import "./style.scss";
</style>