.main-info {
  .main-info__box {
    .user-information {
      display: flex;
      gap: 20px;
      padding-bottom: 15px;
      div {
        width: 100%;
        label {
          font-size: 12px;
          font-weight: 600;
          line-height: 15px;
          color: rgba(29, 36, 82, 0.5);
        }

        .el-input {
          margin-top: 4px;
          input {
            border-radius: 8px;
            font-size: 16px;
            font-weight: 500;
            color: #1d2452;
          }
        }

        .el-select {
          .el-select__tags {
            top: 55%;
            .el-tag {
              border-radius: 5px;
              &.el-tag--info {
                background-color: #f4f4ff;
              }

              &.el-tag--small {
                height: 26px;
              }

              .el-select__tags-text {
                font-size: 14px;
                font-weight: 500;
                color: #1d2452;
              }
            }

            .el-tag__close.el-icon-close {
              background-color: transparent;
              font-size: 16px;
              font-weight: 600;
              color: #1d2452;
              opacity: 0.25;
            }
          }
        }
      }
    }
  }
}
