@import "./_variable.scss";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import "./_responsive";

* {
  margin: 0;
  padding: 0;
  outline: 0;
}

#app {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $backgroundColor;
  min-height: 100vh;
  font-family: "Inter", sans-serif;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active до версии 2.1.8 */ {
  opacity: 0;
}
