<template>
  <div id="app">
    <transition name="fade">
      <!-- <div class="show-steps">
        <button @click="showMethod">Invite User</button>
      </div> -->

      <div class="steps-container">
        <StepsComponent />
      </div>
    </transition>
  </div>
</template>

<script>
import StepsComponent from "./components/steps-component";
export default {
  name: "App",
  data() {
    return {
      show: false,
      dialogVisible: false,
    };
  },

  methods: {
    showMethod() {
      this.show = !this.show;
    },
  },

  components: {
    StepsComponent,
  },
};
</script>

<style lang="scss">
@import "../src/assets/_global.scss";
</style>
