<template>
  <div class="available-location">
    <div class="available-location__box">
      <el-collapse v-model="model.activeName" accordion>
        <div class="precoro-box">
          <el-collapse-item title="Precoro" name="1" class="precoro">
            <div class="main-location-box">
              <label for="location">Main location</label>
              <el-select
                :disabled="isSubmitForm && model.select"
                v-model="model.select"
                placeholder=""
              >
                <el-option
                  v-for="item in model.options"
                  :key="item.value"
                  :label="item.label"
                  :value="item.value"
                >
                </el-option>
              </el-select>
            </div>
            <div class="checkbox-box">
              <el-checkbox :disabled="isSubmitForm && Boolean(handleCheckAllChange)" v-model="model.checkAllLocation" @change="handleCheckAllChange"
                >Select All Locations</el-checkbox
              >
              <div class="available__label">
                <span>Available Locations</span>
              </div>
              <el-checkbox-group
                :disabled="isSubmitForm && Boolean(handleCheckedCitiesChange)"
                v-model="model.checkedCities"
                @change="handleCheckedCitiesChange"
              >
                <el-checkbox v-for="city in cities" :label="city" :key="city">
                  {{ city }}
                </el-checkbox>
              </el-checkbox-group>
            </div>
          </el-collapse-item>
          <div class="count-select">
            <span>{{ selected }} selected</span>
          </div>
        </div>
        <div class="development-box">
          <el-collapse-item
            title="Procoro Development"
            name="2"
            class="development"
          >
            <div>
              Operation feedback: enable the users to clearly perceive their
              operations by style updates and interactive effects;
            </div>
            <div>
              Visual feedback: reflect current state by updating or rearranging
              elements of the page.
            </div>
          </el-collapse-item>
          <div class="count-select">
            <span>7 selected</span>
          </div>
        </div>
        <div class="procurement-box">
          <el-collapse-item title="Procurement" name="3" class="procurement">
            <div>
              Simplify the process: keep operating process simple and intuitive;
            </div>
            <div>
              Definite and clear: enunciate your intentions clearly so that the
              users can quickly understand and make decisions;
            </div>
            <div>
              Easy to identify: the interface should be straightforward, which
              helps the users to identify and frees them from memorizing and
              recalling.
            </div>
          </el-collapse-item>
          <div class="count-select">
            <span>15 selected</span>
          </div>
        </div>
      </el-collapse>
    </div>
  </div>
</template>

<script>
const cityOptions = [
  "Berlin",
  "Poland Office",
  "Venice Office",
  "Canada",
  "USA Office",
  "Mexico",
  "Ukraine Kiyv Lukivska 7 Main Office",
];
export default {
  data() {
    return {
      cities: cityOptions,
      selected: 'Not',
    };
  },

  props: {
    value: {
      type: Object,
      default: () => ({}),
    },
    isSubmitForm: Boolean,
  },
  computed: {
    model: {
      get() {
        return this.value;
      },
      set(value) {
        this.$emit("input", value);
      },
    },
  },

  methods: {
    handleCheckAllChange(val) {
      this.model.checkedCities = val ? cityOptions : [];
    },
    handleCheckedCitiesChange(value) {
      let checkedCount = value.length;
      this.selected = checkedCount;
      console.log("checkedCount: ", checkedCount);
      console.log('value: ', value);
      this.model.checkAll = checkedCount === this.cities.length;

      return value = this.checkedCities
    },
  },
};
</script>

<style lang="scss">
@import "./style.scss";
</style>