.available-location {
  .available-location__box {
    .el-collapse {
      .el-collapse-item {
        .el-collapse-item__header {
          font-size: 18px;
          color: #1d2452;
        }
      }

      .precoro {
        .el-collapse-item__wrap {
          .el-collapse-item__content {
            .main-location-box {
              display: flex;
              flex-direction: column;
              label {
                font-size: 12px;
                font-weight: 600;
                color: rgba(29, 36, 82, 0.5);

                &::after {
                  content: "*";
                  color: red;
                  margin-left: 5px;
                }
              }
              .el-select {
                width: 345px;
                .el-input {
                  .el-input__inner {
                    border-radius: 8px;
                  }
                }
              }
            }

            .checkbox-box {
              margin-top: 20px;
              width: 300px;

              .el-checkbox {
                &.is-checked {
                  .el-checkbox__inner {
                    background-color: #415ada;
                    border-color: #415ada;
                  }
                }

                .el-checkbox__inner {
                  border-radius: 4px;
                }
              }

              .available__label {
                margin: 15px 0 10px 0;
                span {
                  font-size: 16px;
                  font-weight: 500;
                  color: #1d2452;
                  opacity: 0.6;
                }
              }

              .el-checkbox__label {
                font-size: 16px;
                font-weight: 500;
                color: #1d2452;
              }

              .is-indeterminate {
                .el-checkbox__inner {
                  background-color: #415ada;
                  border-color: #415ada;

                  &.is-focus {
                    .el-checkbox__inner {
                      background-color: #415ada;
                      border-color: #415ada;
                    }
                  }
                }
              }

              .el-checkbox-group {
                display: flex;
                flex-wrap: wrap;

                .el-checkbox {
                  flex: 1;
                  padding: 10px 0;
                  margin-right: 0;
                  .el-checkbox__input {
                    &.is-focus {
                      .el-checkbox__inner {
                        background-color: #415ada;
                        border-color: #415ada;
                      }
                    }
                  }
                  &.is-checked {
                    .el-checkbox__inner {
                      background-color: #415ada;
                      border-color: #415ada;
                    }
                  }

                  .el-checkbox__label {
                    font-size: 16px;
                    font-weight: 500;
                    color: #1d2452;
                  }
                }
              }
            }
          }
        }
      }

      .precoro-box,
      .development-box,
      .procurement-box {
        position: relative;

        .count-select {
          position: absolute;
          top: 15px;
          right: 35px;
          span {
            font-size: 16px;
            font-weight: 500;
            color: #1d2452;
            opacity: 0.4;
          }
        }
      }

      &:nth-child(1) {
        border-top: none;
      }
    }
  }
}
